@import "tailwindcss";

@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url('/Inter.woff2');
}

@theme {
  /* --color-base: white; */
  --color-base: #111111;

  /* breakpoints */
  --breakpoint-xs: 412px;
}

:root {
  color-scheme: dark;
  font-family: 'Inter', Inter, system-ui;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  scrollbar-gutter: stable;
}

h1 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
