@import "tailwindcss";

@font-face {
  font-family: Roboto;
  src:
    local('Roboto'),
    url('/Roboto.woff2');
}

@theme {
  /* colores */
  --color-base-dark: #111111;
  --color-focus: #1C62B9;
  --color-selected: #FFAABB24;

  /* gradiente normal */
  --color-gradient-start: #FF0033;
  --color-gradient-end: #F50057;
  --color-gradient: linear-gradient(to right, var(--color-gradient-start), var(--color-gradient-end));
  
  /* gradiente rosada */
  --color-pink-start: color-mix(in srgb, white 30%, #FF0033);
  --color-pink-end: color-mix(in srgb, white 30%, #F50057);
  --color-pink-gradient: linear-gradient(to right, var(--color-pink-start), var(--color-pink-end));

  /* dimensiones */
  --container-aside: 240px;
  --container-navbar: calc(100% - var(--container-aside));

  --spacing-tbh: calc(var(--spacing) * 18); /* tab bar height */
  
  /* breakpoints */
  --breakpoint-ml: 792px;
  --breakpoint-ms: 703px;
  --breakpoint-xs: 412px;
  --breakpoint-mtb: 355px; /* min (width) tab bar */
}

@custom-variant menu-open {
  &:where(:has(#checkbox-menu-state:checked) *) {
    @slot;
  }
}

@custom-variant mobile {
  &:where([data-device-type='mobile'] *) {
    @slot;
  }
}

@custom-variant tablet {
  &:where([data-device-type='tablet'] *) {
    @slot;
  }
}

@custom-variant desktop {
  &:where([data-device-type='desktop'] *) {
    @slot;
  }
}

@custom-variant full-screen {
  &:where([data-is-full-screen] *) {
    @slot;
  }
}

:root {
  color-scheme: dark;
  font-family: 'Roboto', Roboto, system-ui;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  scrollbar-gutter: stable;
  scrollbar-color: darkgray transparent;
}

h1 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.gutter-stable {
  scrollbar-gutter: stable;
}