@import "tailwindcss";

@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url('/Inter.woff2');
}

@theme {
  /* colores */
  --color-base: #111111;
  --color-focus: #1C62B9;
  --color-selected: #FFAABB24;

  /* breakpoints */
  --breakpoint-xs: 412px;
}

@custom-variant menu-open {
  &:where(:has(#checkbox-menu-state:checked) *) {
    @slot;
  }
}

:root {
  color-scheme: dark;
  font-family: 'Inter', Inter, system-ui;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  scrollbar-gutter: stable;
  scrollbar-color: darkgray transparent;
}

h1 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.gutter-stable {
  scrollbar-gutter: stable;
}