---
import { HomeMainContent } from '@/components/Home/HomeMainContent'
import Layout from '../layouts/Layout.astro'
import { HomeNav } from '@/components/Home/HomeNav'
---

<Layout>
  <HomeNav client:idle />
  <section class='absolute top-28 right-0 flex flex-col h-[calc(100%-112px)] min-h-fit w-full sm:w-[calc(100%-72px)] ml:menu-open:w-navbar [transition:width_250ms_ease]'>
    <HomeMainContent client:load />
  </section>
</Layout>