---
import HeaderLeft from './HeaderLeft.astro'
import HeaderRight from './HeaderRight.astro'
import { SearchOverlay } from './SearchOverlay'
import { SearchBar } from './SearchBar'

const searchQuery = Astro.url.searchParams.get('search') ?? undefined
---

<header class='fixed top-0 z-10 w-full h-14 bg-base-dark'>
  <nav class='flex items-center md:grid md:place-items-center md:grid-cols-[208px_1fr_208px]'>
    <HeaderLeft />
    <SearchBar search={searchQuery} client:load />
    <HeaderRight />
  </nav>
  <SearchOverlay searchQuery={searchQuery} client:load />
</header>