---
import '../styles/global.css'
import Header from '@/components/Header/Header.astro'
import { Menu } from '@/components/Menu'
import { MenuMini } from '@/components/MenuMini'
import { TabBar } from '@/components/TabBar'

interface Props {
  title?: string  
}

const { title } = Astro.props
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<title>{title ? `${title} - Monado` : 'Monado'}</title>
		<script>
			// Leer cookie del estado del menú
			(function() {
				const isMenuOpen = document.cookie
					.split('; ')
					.find(c => c.startsWith('monado-is-menu-open='))
					?.split('=')[1] || 'false'
				const input = document.querySelector('#checkbox-menu-state') as HTMLInputElement
				if (input) input.checked = (isMenuOpen === 'true')
			})()
		</script>
		<script>
			// Añadir listener para cambiar el estado del menú en la cookie
			(function() {
				const input = document.querySelector('#checkbox-menu-state') as HTMLInputElement
				if (!input) return

				input.addEventListener('input', () => {
					document.cookie = `monado-is-menu-open=${input.checked}; path=/; Secure; SameSite=Strict`
				})
			})()
		</script>
	</head>
	<body class='flex flex-col bg-base-dark'>
		<input id='checkbox-menu-state' type='checkbox' hidden />
		<Header />
		<main class='h-full w-full min-h-fit max-h-full pt-14'>
			<Menu client:load />
			<MenuMini />
			<slot />
		</main>
		<TabBar />
	</body>
</html>
